
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 ">
                © Copy 2020 芝士英语
            </div>
        </div>
    </div>
</footer>
</body>
<script src='/javascripts/jquery-3.4.1.min.js'></script>
<script src='/javascripts/bootstrap.bundle.min.js'></script>
<script src='/javascripts/app.js'></script>