<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo-small" src="/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <%if(user){%>
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                    <i class="fas fa-bell text-color-primary top-menu-item"></i>
                </li>
                <li class="nav-item">
                    <a class="user-settings" href=" ">
                        <i class="fas fa-user-circle text-color-primary top-menu-item"></i>
                    </a>
                </li>
            </ul>
            <%}else {%>
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item active">
                            <a  href="/register ">
                                <p class="home-menu-item">用户注册</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/login ">
                               <p class="home-menu-item-active">登陆账号</p>
                            </a>
                        </li>
                    </ul>
            <%}%>
        </div>
    </div>
</nav>
<nav class='user-settings-expanded'>
    <!-- user settings nav -->
    <ul>
        <li>
            <a href='/profile'>
                <span> <i class="fas fa-user-cog"></i></span>
                <span class='label'>个人信息</span>
            </a>
        </li>
        <li>
            <a href='/logout'>
                <span><i class='fas fa-sign-out-alt'></i></span>
                <span class='label'>退出</span>
            </a>
        </li>
    </ul>
</nav>