<!DOCTYPE html>
<html>
<% include ../shared/head.ejs %>
<body>
<head>
    <% include ../shared/nav.ejs %>
</head>
<div>
    <img class="course-details-img" src="../images/xrt-banner.jpg">
</div>
<div class="container">
    <div class="course-details-title course-details-margin text-center" >
        <h1> 直播回放</h1>
        <h5>小王子直播回放以及课后练习</h5>
    </div>
    <div class="text-center">
        <h1>课程概括</h1>
    </div>
    <div class="course-details-margin">
        <div class="bg-white course-details course-description">
            <h3>名著小王子</h3>
             <p class="pt-2" >小王子精讲课程，里面含有所有章节的视屏讲解回放以及课后练习。</p>
             <p class="course-description-p">《小王子》是法国作家安托万·德·圣·埃克苏佩里于1942年写成的著名儿童文学短篇小说。本书的主人公是来自外星球的小王子。
                 书中以一位飞行员作为故事叙述者，讲述了小王子从自己星球出发前往地球的过程中，所经历的各种历险。作者以小王子的孩子式的眼光，透视出成人的空虚、盲目，愚妄和死板教条，用浅显天真的语言写出了人类的孤独寂寞、没有根基随风流浪的命运。同时，也表达出作者对金钱关系的批判，对真善美的讴歌。</p>
        </div>
    </div>
    <div class="text-center">
        <h1>课程列表</h1>
    </div>
    <div class="course-details-margin">
        <div class="course-chapter-list ">
        <table class=" course-list-table table table-hover table-borderless table-striped">
            <thead>
            <tr class="bg-primary-color">
                <th scope="col">课程目录</th>
                <th scope="col">时长</th>
                <th scope="col">开始学习</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">第一章节</th>
                <td>1：20：00</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            <tr>

                <th scope="row">第二章节</th>
                <td>1：20：00</td>

                <td><a href="/courses/chapter/2"><i class="fas fa-play"></i> </a></td>

            </tr>
            <tr>
                <th scope="row">第三章节</th>
                <td>1：20：00</td>
                <td><i class="fas fa-play"></i></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<% include ../shared/footer.ejs %>
</html>