<!DOCTYPE html>
<html>
<% include shared/head.ejs %>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo-small" src="/images/logo.png"></a>
        <a  href="/">主页</a>
    </div>
</nav>
<div class="container">
    <div class="bg-white content-box shadow-lg">
        <div class="form-title-wrap">
            <h1 class="form-title">账号登陆</h1>
        </div>
        <%if(error&&error.length>0){%>
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading font-weight-bold">错误</h4>
            <p class="mb-0"><%=error%></p>
        </div>
        <%}%>
        <div class="row register-content">
            <div class="col-lg-5 col-md-5 col-sm login-left-img">
                <img class="register-img" src="/images/register.png">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-left form-wrap">
                <form method="post" class="login-form">
                    <div class="form-group has-success">
                        <label class="form-control-label" for="phone">手机号</label>
                        <input placeholder="请输入手机号" class="form-control " name="username" id="phone" >
                        <div class="invalid-feedback">请输入你的手机号。</div>
                    </div>

                    <div class="form-group has-success">
                        <label class="form-control-label" for="password">密码</label>
                        <input type="password" placeholder="请输入密码" class="form-control" name="password" id="password" >
                        <div class="invalid-feedback">请输入你的密码。</div>
                    </div>
                    <div class="btn-wrap">
                        <button class="btn btn-register">登陆</button>
                    </div>
                    <div class="mt-3">
                        <a class="text-color-secondary" href="/register">没有账号？去注册</a>
                        <a class="text-color-secondary float-right" href="/forgot">忘记密码</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include shared/footer.ejs %>
</html>